<p class="display-3 my-5 text-success opacity-50 text-center">
  WELCOME
</p>

<div class="shadow rounded p-5">
  <%= simple_form_for @message, remote: true do |f| %>
    <div class="col-5">
      <%= f.input :content %>
    </div>
    <%= f.submit class: 'btn btn-outline-success btn-sm' %>
  <% end %>
</div>

<div id="msg">

</div>
